extends layout

block content
  div(class="container")
    div(class="row about")
      p BBQ PHD
      p Dr. Eric P. Holinger built Rollin' Bones BBQ with his two big hands, a penchant for experimentation,
      and the best ingredients this side of the Mississippi. In 2015, Eric left the field of biology to embark
      on a journey into the science of smoked meat and delicious sauce. During this first year, the Rollin' Bones BBQ
      team shared the meat-fruits of Eric's labor with families, breweries, and even a friendly puppy every now and
      then, and we're looking forward to sitting down at a picnic table with even more of you in 2016.
    
