extends layout
block content
  script(src='/javascripts/catering.js')

  div(class="row about" id="catering")
    h2 CATERING
    span(class="about-text") Let us cater your next event. Contact us!
  
  div(class="row first-row" id="contact")
    div(class="col-md-6 col-sm-12")
      div(class="contact-form")
        p Questions about our menu? Interested in catering?
        h2 Contact Us!
        div.content
          form(class="form-horizontal" action='/', name='contactus', id='contactus', method='post')
            div(class="form-group")
              label(for='name' class="col-sm-2 control-label") Name:
              div(class="col-sm-6")
                input(class="form-control" name='name', type='text', value='', id='name')
            div(class="form-group")
              label(for='email' class="col-sm-2 control-label") Email:
              div(class="col-sm-6")
                input(class="form-control", name='email', type='email', value='', id='email')
            div(class="form-group")
              label(for='message' class="col-sm-2 control-label") Message:
              div(class="col-sm-10")
                textarea(class="form-control", name='message', rows='10', id='message')
            div(class="form-group")
              div(class="col-sm-offset-2 col-sm-10")
                button(name='submit', type="submit", class="btn btn-default", value='Send', id='submit') Submit
