head
  title Rollin' Bones BBQ
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, inital-scale=1 ")
  link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/clndr.css')
  script(src="https://code.jquery.com/jquery-2.1.3.min.js")
  script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js")
  script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
  script(src="/underscore/underscore-min.js")
  script(src='/clndr/clndr.min.js')
  script(src="/underscore/underscore-min.js")
