div(class="jumbotron")
  div(class="container")
    p
      a(class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#myModal") Where's the Truck?
    img(src="images/RollinRoundBadge.png")
