doctype html
html
  include head.jade
  div(class='container')
    include jumbotron.jade
    include plain_nav.html
    #wrap
      block content
    #push
      block footer
        include footer.jade
