html
  include head.jade
  div(class='container')
    h1 Sign In
      if(message.length > 0)
        div(class="alert alert-danger") #{message}
      div.content
        form(action='/login', name='admin', id='login', method='post')
          fieldset
            p
              label(for='username') Username:
              br
              input(name='username', type='text', value='', id='name')
            p
              label(for='password') Password:
              br
              input(name='password', type='password', value='', id='email')
            p
              input(type='submit', value="Log In")
