h1 Sign In
  div.content
    form(action='/', name='login', id='login', method='post')
      fieldset
        p
          label(for='name') Username:
          br
          input(name='name', type='text', value='', id='name')
        p
          label(for='email') Password:
          br
          input(name='email', type='text', value='', id='email')
        p
